

.body{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body input{
    width: 100%;
}

.password button{
    margin-top: 20px;
    width: 100%;
}

.error {
    color: red;
}

.success {
    color: green;
}

.img{
    width: 200px;
    height: 200px;
}