

.alter-password-body{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alter-password-body input{
    width: 100%;
}

.btn-alter-password button{
    margin-top: 20px;
    width: 100%;
}

.p-error {
    color: red;
}

.p-success {
    color: green;
}