.body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body button, input{
    width: 100%;
}


.field{
    width: 100%;
}

.img{
    width: 200px;
    height: 200px;
}