.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 25px;
    
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.button {
    width: 100%;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}