.body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;  
}

.form{
    margin-bottom: 20px;  
}

.form input{
    width: 100%;
}
.card {
    text-align: center;
}
.field{
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.button {
    width: 100%; 
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.primary:hover, .secondary:hover {
    opacity: 0.9; 
}

.img{
    width: 200px;
    height: 200px;
}
