<!DOCTYPE html>
<html>
    <body style="background-color: #f4f4f9; color: #1D3244; padding: 20px; text-align: center;">
        <div style="background-color: white; padding: 30px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); max-width: 600px; margin: 0 auto;">
            <h2 style="font-size: 18px; color: #1D3244; margin-bottom: 10px;">Cadastro Efetuado com sucesso</h2>
            <hr>
            <h3 style="font-size: 20px; color: #1D3244; margin-bottom: 20px;">Seja bem-vindo, <span style="color: #1D3244; font-weight: bold;" th:text="${name}"></span></h3>
            <a href="http://localhost:8080/api/person/?status=${status}" style="display: inline-block; padding: 10px 20px; background-color: #1D3244; color: white; text-decoration: none; border-radius: 5px; margin-top: 20px;">Confirmar Cadastro</a>
            <hr>
            <div style="margin-top: 20px;">
                <a href="https://www.facebook.com" style="margin: 0 10px;">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook" style="width: 30px; height: 30px;">
                </a>
                <a href="https://www.twitter.com" style="margin: 0 10px;">
                    <img src="https://upload.wikimedia.org/wikipedia/en/6/60/Twitter_Logo_as_of_2021.svg" alt="Twitter" style="width: 30px; height: 30px;">
                </a>
                <a href="https://www.instagram.com" style="margin: 0 10px;">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram" style="width: 30px; height: 30px;">
                </a>
                <a href="https://www.linkedin.com" style="margin: 0 10px;">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="LinkedIn" style="width: 30px; height: 30px;">
                </a>
            </div>
            <hr>
            <p style="font-size: 14px; color: #1D3244; margin-top: 20px;">&copy; 2024 Sua Empresa. Todos os direitos reservados.</p>
        </div>
    </body>
</html></body>